$color__main: #69baa5;
$color__main--dark: darken($color__main, 13%);
$color__main--light: lighten($color__main, 30%);
$color__success: #4dacc6;
$color__text: #444;
$color__white: #f3f3f3;

$font__roboto: "Roboto Condensed", sans-serif;
