.squeezeVertical {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.squeezeVertical span {
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #000;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.squeezeVertical span:before, .squeezeVertical span:after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #000;
  -webkit-transition: margin-top 0.4s;
  transition: margin-top 0.4s;
}
.squeezeVertical span:before {
  margin-top: -9px;
}
.squeezeVertical span:after {
  margin-top: 7px;
}
.squeezeVertical.menu-active span {
  background: transparent;
  -webkit-transition: background 0.04s, -webkit-transform 0.4s;
  transition: background 0.04s, -webkit-transform 0.4s;
  transition: transform 0.4s, background 0.04s;
  transition: transform 0.4s, background 0.04s, -webkit-transform 0.4s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.squeezeVertical.menu-active span:before {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s 0.25s, -webkit-transform 0.4s 0.25s;
}
.squeezeVertical.menu-active span:after {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s 0.25s;
  transition: margin-top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.4s 0.25s, -webkit-transform 0.4s 0.25s;
}